a.navbar-brand.brand-logo img {
    width: auto !important;
    height: 45px !important;
}

a.navbar-brand.brand-logo span {
    font-size: 15px;
    color: black !important;
    margin: auto;
}

a.nav-link i{
    color: #e49d00 !important;
}

a.nav-link:hover i {
    color: black !important;
}

.dropdown-menu.dropdown-menu-right.navbar-dropdown.show {
    display: block !important;
}

.d-none{
    display:block !important;
}

.add-member-shortcut {
    position: fixed;
    top: 80px;
    width: 300px;
    background: white;
    box-shadow: 0 0 10px #ccc;
}

.member-title {
    padding: 10px;
    background: #e49d00;
    color: white;
    display: flex;
}

.main-panel {
    margin-left: 255px !important;
}

.member-title-text {
    width: 100%;
}

.member-content {
    padding: 10px;
}

.member-content span {
    display: block;
    font-size: 15px;
    margin-top: 10px;
}

.member-content input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.action-button {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
}

.action-button button {
    padding: 5px 15px;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
}

.isShow {
	display:none;
}

.member-title i{
    margin:auto;
    cursor: pointer;
}

nav#sidebar {
    position: fixed;
}

.add-member-shortcut{
    transition: .5s;
    transform: scale(0);
}

.add-member-shortcut.showed{
    transform: scale(1) !important;
}

.nmf-title {
    font-size: 35px;
}

.newmember-action {
    text-align: right;
}

.newmember-action button {
    background: #0072c6;
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0px;
}

.table {
    margin-bottom: 0;
    background: white;
}

.newmember-view tbody tr {
    border-bottom: 1px solid #ccc;
}

.newmember-modal {
    top: 63px;
    position: fixed;
    left: 255px;
    width: calc(100% - 255px);
    height: calc(100% - 63px);
    display: none;
    transition: 0.5s;
    background: rgba(0,0,0,0.5);
}

.main-panel {
    z-index: 9999;
}

.newmember-modal-content {
    width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #eee;
}

.newmember-group {
    display: flex;
    margin: 10px 0;
}

.newmember-group input {
    margin: 0 5px;
}

.newmember-button {
    text-align: right;
    margin: 10px 0px;
}

.newmember-button button{
    margin: 0px;
}

.newmember-view-content {
    overflow: auto;
}

.newmember-button button {
    padding: 10px 15px;
    background: #e49d00;
    border: 0px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

td button {
    padding: 10px;
    border: 0px;
    cursor: pointer;
    color: white;
    border-radius: 3px;
}

button.edit {
    background: #0072c6;
}

button.delete {
    background: darkred;
}

nav.navbar.default-layout.col-lg-12.col-12.p-0.fixed-top.d-flex.flex-row {
    position: flex !important;
    z-index: 10000;
}